[user]
	name = rotti
	email = spmbot123@gmail.com
[color]
	diff = auto
	status = auto
  branch = auto

[alias]
        co = checkout
        com = checkout master
        ci = commit
        b = branch
        f = fetch
        l = log
        lp = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
        cp = cherry-pick
        rom = reset --hard origin/master
        lcf = diff --name-only HEAD
        dh = diff HEAD

[core]
        editor = vim
